:root {
  --color-white: #fff;

  --color-black: #000;
  --color-black-50: rgb(0 0 0 / 0.05);
  --color-black-100: rgb(0 0 0 / 0.1);
  --color-black-400: rgb(0 0 0 / 0.4);
  --color-black-600: rgb(0 0 0 / 0.6);

  --color-cyan: #e7fafe;
  --color-accent: #ff7426;

  --gradient-cyan: linear-gradient(180deg, rgb(231 249 253 / 0) 0%, #e7f9fd 100%);

  --border: 1px solid var(--color-black-100);

  --border-radius-l: 60px;
  --border-radius-m: 30px;
  --border-radius: 24px;
  --border-radius-xs: 20px;
  --border-radius-xxs: 16px;

  --font-family-base: 'Inter';

  --container-width: #{$container-desktop-width}px;
  --container-padding-x: 16px;

  --transition-duration: 0.2s;
}
